

p, li {
  font-family: 'Old Standard TT', serif !important;
  font-size: 18px;
}

h2 {
  font-family: 'Lato', !important;
  font-weight: 300 !important;
  font-size: 34px;
}

h3 {
  font-family: 'Lato', !important;
  font-weight: 400 !important;
  font-size: 16px;

}

.ruling-a {
  color: #3366ff !important;
}

.ruling-b {
  color: #00cc00;
}